
$forest-green: #55774F;
$green-gray: #95AA91;
$green-yellow-gray: #D8DDBF;
$light-purple: #966FE1;
$gray-purple: #736FAA;


$bill-orange: #E49D3A;

$light-gray: #eee;
$edge-gray: #ccc;
$light-dark-gray: #aaa;
$white: #fff;
