.hidden{
  display: none;
}

.button{
  padding: 10px 5px;
  border-radius: 3px;
  background: $white;
  cursor: pointer;
}

.button:hover{
  filter: $brightness;
  filter: $filter-button;
}

.brightness{
  filter: $brightness;
  filter: $filter-button;
}
