.ReactModal__Content ReactModal__Content--after-open{
    position: absolute;
    overflow: visible;
}


.bill-form-container{
  font-family: $font;
  width: 305px;

  h2{
    text-align: center;
    font-size: 25px;
    background: $forest-green;
    text-transform: uppercase;
    color: white;
    padding: 10px;
  }


  .new-bill-form-holder{
    margin: 30px;

    .errors{
      color: $bill-orange;
      margin: 5px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
    section{
      text-align: center;
      margin: 15px 0px;
      .user-switch{
        cursor: pointer;
        background: $light-gray;
        padding: 2px 4px;
        border-radius: 15px;
        border: 2px dashed $edge-gray;
      }
      .user-switch:hover {
        background: $forest-green;
        color: $white;
          border: 1px dashed $white;

      }
      input{
        margin-top: 6px;
        margin-left: 3px;
        cursor: pointer;
        width: 70px;
        font-size: small;
        color: $forest-green;
        font-weight: bold;
      }
    }
  }

  .new-bill-form-elements{
    position: relative;
    display: flex;
    justify-content: center;
    input{
      height: 20px;
      background: $light-gray;
      font-size: medium;
      margin-top: 10px;
      padding: 5px 10px;
      border: 1px solid $edge-gray;
    }
    ul{
      width: 186px;
      position: absolute;
      border-top: none;
      border-radius: 2px;
      background: $light-gray;
      li{
        border-bottom: 1px dashed $edge-gray;
        height: 20px;
        padding: 3px 5px;
        font-size: small;
      }

      li:hover{
        background: $edge-gray
      }

      border: 1px solid $edge-gray;
    }


  }

  .bill-info-container{

    .description-box{
      width: 150px;
      font-size: 20px;
      height: 20px;
      margin: 3px;
      border-bottom: 1px dashed $edge-gray;
      text-align: initial;
    }



    }

    .cost{
      width: 150px;
      height: 20px;
      margin: 3px;
      border-bottom: 1px dashed $edge-gray;
      align-items: center;
      span{
        font-weight: bolder;
      }
      input{
        text-align: initial;
        margin-left: 5px;

      }
    }

}

.note{
  font-size: 15px;
  text-transform: uppercase;
  font-size: 15px;
}

textarea {
  width: 245px;
  resize: none;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}


.entry-submit.button{
  background: $forest-green;
  text-transform: uppercase;
  color: white;
  margin-top: 15px;
  margin-left: 200px;
  font-weight: bold;
}

.title-detail {
  text-align: center;
}
