.ReactModal__Content ReactModal__Content--after-open{
    overflow: visible;
}


.bill-form-container{
  width: 305px;
  h2{
    text-align: center;
    font-size: 25px;
    background: $forest-green;
    text-transform: uppercase;
    color: white;
    padding: 10px;
  }


  .new-bill-form-holder{
    margin: 30px;
    section{
      text-align: center;
      margin: 15px 0px;
      .user-switch{
        cursor: pointer;
        background: $light-gray;
        padding: 2px;
        border-radius: 15px;
        border: 2px dashed $edge-gray;
        .input{
          width: 70px;
        }
      }
      .user-switch:hover {
        background: $forest-green;
        color: $white;
          border: 1px dashed $white;

      }
  }}

  .new-bill-form-elements{
    position: relative;

    ul{
      width: 125px;
      position: absolute;
      border: 1px solid $edge-gray;
      border-top: none;
      border-radius: 2px;
      background: $light-gray;
    }



    li{
      border-bottom: 1px dashed $edge-gray;
      padding-left: 3px;
    }

    li:hover{
      background: $edge-gray
    }

  }

  .bill-info-container{

    .description-box{
      width: 150px;
      font-size: 20px;
      height: 20px;
      margin: 3px;
      border-bottom: 1px dashed $edge-gray;
      text-align: initial;
    }


    }

    .cost{
      width: 150px;
      height: 20px;
      margin: 3px;
      border-bottom: 1px dashed $edge-gray;
      align-items: center;
      span{
        font-weight: bolder;
      }
      input{
        text-align: initial;
        margin-left: 5px;

      }
    }

}
