.login-form-container{
  background: $light-gray;
  border: 1px solid $edge-gray;
  width: 155px;
  .welcome-text{
    text-transform: uppercase;
    color: $forest-green;
    font-size: 15px;
    margin: 10px 5px;
    align-items: center;
    text-align: center;

  }
  input{
    align-items: center;
    background: $white;
    margin: 10px 5px;
    padding: 5px;
  }

  .errors{
    color: $bill-orange;
    width: 100px;
    word-wrap: normal;
    list-style: circle;
    margin-left: 26px;
  }

  .button{
    background: #D8DDBF;
  }
  .guest-user{
    margin-left: 40px;
    padding: 5px;
    background: $tan-orange;
  }
}

.signup{
  background: $tan-orange;
}

.login{
  background: $green-gray;
}
