// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}


body {
  background: #eee;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
}


.header{
  background: green;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.hidden{
  visibility: hidden
}

.header-holder{
  display: flex;
  justify-content: space-between;
  width: 900px;
  height: 75px;
  border-bottom: 1px solid #ccc;
}

.title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
}

.welcome-user{
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.center-flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.guest-login{
  background: #ccc;
  width: 110px;
  height: 35px;
  padding-top: 10px;
  text-align: center;
  border-radius: 7px;
  vertical-align: middle;
}

.splash-holder{
  width: 900px;
  height: 900px;
  background: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splash-holder-center{
  display: flex;
  justify-content: center;
}

.tagline-holder{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}


.button{
  background: blue;
  border-radius: 5px;
  border: 1px solid black;
  padding:5px
}


.guest-login:hover{
  border: 1px solid black;
}

.entry-image-holder{
  margin: 30px;
  background-image: url(https://hd.unsplash.com/photo-1446160657592-4782fb76fb99);
  height: 500px;
  width: 300px
}

.justify-left-flex{
  display: flex;
  justify-content: flex-left;
}


//login form

.login-form-container{
  display:flex;
  justify-content: center;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  background: white;
}

input.signup-input{
  background: #ccc;
  border-radius: 5px;
  height: 30px;
  margin: 10px;
}
.login-form-container{
  display: flex;
  justify-content: space-around;
}

.logo-signup{

}
.logo-signup-image-holder{

}

.welcome-text{

}



//signup form

.signup-form-container{
  display:flex;
  justify-content: center;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  background: white;
}

input.login-input{
  background: #ccc;
  border-radius: 5px;
  height: 30px;
  margin: 10px;
}

input.entry-submit{
  background: #ccc;
  border-radius: 5px;
  padding: 5px;
  border: 5px;

}
